In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# 데이터 출처
# https://www.kaggle.com/datasets/alfredkondoro/seoul-historical-weather-data-2024
weather_file_16_18 = "./data/seoul 2016-01-01 to 2018-01-01.csv"

def import_weather(address:str) -> pd.DataFrame:
    weather_data = pd.read_csv(address)

    weather_data.loc[:, "year"] = weather_data["datetime"].str[:4].astype(int)
    weather_data.loc[:, "month"] = weather_data["datetime"].str[5:7].astype(int)
    weather_data.loc[:, "date"] = weather_data["datetime"].str[8:].astype(int)

    front = ["year", "month", "date"]
    others = [c for c in weather_data.columns if c not in front]
    weather_data = weather_data[front + others]

    weather_data = weather_data.drop(["datetime"], axis=1)

    return weather_data

weather_data_16_18 = import_weather(weather_file_16_18)
weather_data_16_18.head()

,year,month,date,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,2016,1,1,seoul,42.0,23.1,33.5,40.1,22.5,31.4,...,6.5,3,NaN,2016-01-01T07:46:46,2016-01-01T17:23:38,0.71,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,RKSM,47110..."
1,2016,1,2,seoul,51.0,33.3,42.3,51.0,27.2,39.4,...,6.9,4,NaN,2016-01-02T07:46:56,2016-01-02T17:24:25,0.75,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,RKSM,47110..."
2,2016,1,3,seoul,50.1,35.4,42.6,50.1,35.4,41.8,...,4.1,2,NaN,2016-01-03T07:47:05,2016-01-03T17:25:14,0.78,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,RKSM,47110..."
3,2016,1,4,seoul,42.0,30.5,37.9,40.3,24.7,33.1,...,10.0,5,NaN,2016-01-04T07:47:11,2016-01-04T17:26:04,0.81,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,RKSM,47110..."
4,2016,1,5,seoul,34.0,24.0,28.6,27.9,18.3,23.2,...,9.3,5,NaN,2016-01-05T07:47:15,2016-01-05T17:26:55,0.84,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,RKSM,47110..."

In [5]:
weather_file_18_20 = "./data/seoul 2018-01-01 to 2020-01-01.csv"

def import_weather(address:str) -> pd.DataFrame:
    weather_data = pd.read_csv(address)

    weather_data.loc[:, "year"] = weather_data["datetime"].str[:4].astype(int)
    weather_data.loc[:, "month"] = weather_data["datetime"].str[5:7].astype(int)
    weather_data.loc[:, "date"] = weather_data["datetime"].str[8:].astype(int)

    front = ["year", "month", "date"]
    others = [c for c in weather_data.columns if c not in front]
    weather_data = weather_data[front + others]

    weather_data = weather_data.drop(["datetime"], axis=1)

    return weather_data

weather_data_18_20 = import_weather(weather_file_18_20)
weather_data_18_20.head()

,year,month,date,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,2018,1,1,seoul,38.3,19.4,28.8,34.6,19.4,27.5,...,0.0,0,NaN,2018-01-01T07:46:51,2018-01-01T17:24:02,0.47,Clear,Clear conditions throughout the day.,clear-day,"47111099999,47098099999,47112099999,4711909999..."
1,2018,1,2,seoul,35.9,22.0,28.6,29.9,19.1,25.1,...,0.4,1,NaN,2018-01-02T07:47:01,2018-01-02T17:24:50,0.50,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
2,2018,1,3,seoul,30.5,18.7,24.7,24.0,12.7,18.1,...,10.7,5,NaN,2018-01-03T07:47:08,2018-01-03T17:25:39,0.53,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
3,2018,1,4,seoul,29.9,16.8,22.7,29.9,11.3,19.2,...,8.0,4,NaN,2018-01-04T07:47:13,2018-01-04T17:26:29,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
4,2018,1,5,seoul,34.8,19.2,26.1,30.4,15.0,23.5,...,9.0,5,NaN,2018-01-05T07:47:16,2018-01-05T17:27:21,0.60,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."

In [6]:
weather_df = pd.concat([weather_data_16_18, weather_data_18_20], axis=0)
weather_df['year'].value_counts()

year
2016    366
2018    366
2017    365
2019    365
2020      1
Name: count, dtype: int64

In [7]:
weather_df = weather_df[weather_df['year'] != 2016]
weather_df = weather_df[weather_df['year'] != 2020]

In [8]:
weather_df[
    (weather_df['year'] == 2018) &
    (weather_df['month'] == 1) &
    (weather_df['date'] == 1)
]

,year,month,date,name,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
731,2018,1,1,seoul,38.3,19.4,28.8,34.6,19.4,27.5,...,0.0,0,NaN,2018-01-01T07:46:51,2018-01-01T17:24:02,0.47,Clear,Clear conditions throughout the day.,clear-day,"47111099999,47098099999,47112099999,RKSM,47110..."
0,2018,1,1,seoul,38.3,19.4,28.8,34.6,19.4,27.5,...,0.0,0,NaN,2018-01-01T07:46:51,2018-01-01T17:24:02,0.47,Clear,Clear conditions throughout the day.,clear-day,"47111099999,47098099999,47112099999,4711909999..."

In [9]:
weather_df = weather_df.drop_duplicates(
    subset=['year', 'month', 'date'],
    keep='first'   # 첫 번째 남기고 나머지 삭제
)

In [10]:
weather_df['year'].value_counts()

year
2017    365
2018    365
2019    365
Name: count, dtype: int64

In [11]:
weather_df.to_csv("weather_raw.csv", index=False)